@page "/games/delete/{GameId:int}"

@using LCPFavThings.Data.SQL
@using LCPFavThings.Data.SQLite

@inject NavigationManager navman

<h3>
    <span class="bi bi-controller me-2"></span>
    @localizer["lnkgames"]
</h3>

<p>Are you sure you want to delete this Game with Id: @GameId?</p>

<div class="col-md-12 mt-3">
    <table class="table">
        <tr>
            <td>Id</td>
            <td>@games.GameId</td>
        </tr>
        <tr>
            <td>Title</td>
            <td>@games.Title</td>
        </tr>
        <tr>
            <td>Desc</td>
            <td>@games.DescT</td>
        </tr>
        <tr>
            <td>Genre</td>
            <td>@games.Genre</td>
        </tr>
        <tr>
            <td>Category</td>
            <td>@games.Category</td>
        </tr>
        <tr>
            <td>Cover</td>
            <td>@games.Cover</td>
        </tr>
        <tr>
            <td>Company</td>
            <td>@games.Company</td>
        </tr>
        <tr>
            <td>Publisher</td>
            <td>@games.Publisher</td>
        </tr>
        <tr>
            <td>Language</td>
            <td>@games.LangT</td>
        </tr>
        <tr>
            <td>Date Release</td>
            <td>@games.DateRelease</td>
        </tr>
        <tr>
            <td>Rating</td>
            <td>@games.Rating</td>
        </tr>
    </table>
    <div class="form-group">
        <input type="button" value="Delete" @onclick="@Delete" class="btn btn-primary" />
        <input type="button" value="Cancel" @onclick="@Back" class="btn btn-secondary" />
    </div>
</div>


@code {
    [Parameter]
    public int GameId { get; set; }

    [Inject] public IJSRuntime JS { get; set; }
    [Inject] public IStringLocalizer<srf.Resource> localizer { get; set; }
    [Inject] public ILocalDBDataService lcdb { get; set; }
    [Inject] public IAllDataService allcdb { get; set; }
    [Inject] public ILSHelper LSH { get; set; }

    private HubConnection hubConnection;
    public string valdbm { get; set; }

    List<LCPFavThings.Models.Games> gameslist = new List<LCPFavThings.Models.Games>();
    LCPFavThings.Models.Games games = new LCPFavThings.Models.Games();

    protected override async Task OnInitializedAsync()
    {
        valdbm = !string.IsNullOrEmpty(await LSH.Get("dbmode")) ? await LSH.Get("dbmode") : "server";

        await MyExtensions.LoadMyCultureInfo(JS);

        try 
        {
            if (valdbm == "server_realtime")
            {
                gameslist = await allcdb.ReadById<LCPFavThings.Models.Games>("games", x => x.GameId == GameId);

                hubConnection = new HubConnectionBuilder()
                    .WithUrl(navman.ToAbsoluteUri(HTTPHelper.GetMyBaseAddress() + "/broadcastHub"))
                    .Build();

                await hubConnection.StartAsync();
            }
            else if (valdbm == "server")
            {
                gameslist = await allcdb.ReadById<LCPFavThings.Models.Games>("games", x => x.GameId == GameId);
            }
            else
            {
                gameslist = await lcdb.ReadById<LCPFavThings.Models.Games>(x => x.GameId == GameId);
            }

            games = (LCPFavThings.Models.Games)gameslist.FirstOrDefault();
        }
        catch (Exception e)
        {
            await JS.InvokeVoidAsync("alert", $"Message: {e.Message} \r\n URL: {HTTPHelper.GetMyBaseAddress()} \r\n DB Mode Type: {valdbm}");
        }

        StateHasChanged();
    }

    protected async Task Delete()
    {
        if (valdbm == "server")
        {
            await allcdb.Delete<LCPFavThings.Models.Games>("games", GameId);
        }
        else if (valdbm == "server_realtime")
        {
            await allcdb.Delete<LCPFavThings.Models.Games>("games", GameId);
            if (IsConnected) await SendMessage();
        }
        else
        {
            await lcdb.Delete<LCPFavThings.Models.Games>(games);
        }

        navman.NavigateTo("games");
    }

    Task SendMessage() => hubConnection.SendAsync("SendMessage");

    public bool IsConnected =>
        hubConnection.State == HubConnectionState.Connected;

    public void Dispose()
    {
        _ = hubConnection.DisposeAsync();
    }

    private void Back()
    {
        navman.NavigateTo("/games");
        StateHasChanged();
    }
}
